<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.srp.mapper.FiberDataMapper">


    <select id="pageQueryAll" resultType="com.example.srp.pojo.vo.FiberDataVo">
        SELECT
        id,
        original_image,
        detail,
        type
        FROM fiber_data
        <where>
            <if test="search != null and search != ''">
                AND detail LIKE CONCAT('%', #{search}, '%')
            </if>
        </where>
    </select>

    <select id="pageQuerySimilarImageDetail" parameterType="string" resultType="com.example.srp.pojo.vo.FiberDataVo">
        SELECT
            id,
            original_image,
            detail,
            type
        FROM fiber_data
        WHERE type = #{type}
    </select>

    <select id="countType" resultType="com.example.srp.pojo.vo.TypeGraphVo">
        SELECT
            type,
            count(*) AS count
        FROM fiber_data
        GROUP BY type
    </select>

    <select id="dailyCount" resultType="com.example.srp.pojo.vo.DailyCountVo">
        SELECT DATE_FORMAT(create_time,'%Y-%m-%d') AS date,
        COUNT(*) AS count
        FROM fiber_data
        GROUP BY DATE_FORMAT(create_time,'%Y-%m-%d')
        ORDER BY date ASC
    </select>

</mapper>